# chezmoi:template:missing-key=invalid
config_info: |
  {{- $interactive := stdinIsATTY -}}
  {{- $ephemeral := false -}}

  {{- $personal_computer := promptBoolOnce . "personal_computer" "Is this a personal computer?" -}}
  {{- $email := promptStringOnce . "email" "Email address" -}}
  {{- $opsubdomain := promptStringOnce . "opsubdomain" "1Password subdomain" -}}
  {{- $opemail := promptStringOnce . "opemail" "1Password email" -}}

  {{- $is_wsl := false -}}
  {{- if .chezmoi.kernel -}}
  {{-   if hasKey .chezmoi.kernel "osrelease" -}}
  {{-     $is_wsl = (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
  {{-   end -}}
  {{- end -}}

  {{- $is_desktop := or ($is_wsl) (eq .chezmoi.os "windows") (eq (env "IS_DESKTOP") "true") -}}

  {{- $is_server := not $is_desktop -}}
  {{- $workingTree := .chezmoi.workingTree -}}
  {{- $username := .chezmoi.username -}}

  {{- $script_ext := "sh" -}}
  {{- if eq .chezmoi.os "windows" -}}
  {{-   $script_ext = "bat" -}}
  {{-   $workingTree = printf "%s%s" .chezmoi.homeDir "/AppData/Local/chezmoi" -}}
  {{-   $username = env "USERNAME" -}}
  {{- end -}}

  {{ "" }}
  Generated for user={{ $username }}, hostname={{ .chezmoi.hostname }}

interpreters:
  ps1:
    # Prefer PowerShell Core over PowerShell Desktop
    # https://github.com/PowerShell/PowerShell/issues/8635#issuecomment-454028787
    command: '{{ if env "CHEZMOI_PS1_COMMAND" }}{{ env "CHEZMOI_PS1_COMMAND" }}{{ else if lookPath "pwsh.exe" }}pwsh.exe{{ else }}powershell.exe{{ end }}'
    args: ["-NoLogo", "-NoProfile"]

data:
  is_wsl: {{ $is_wsl }}
  is_server: {{ $is_server }}
  is_desktop: {{ $is_desktop  }}
  is_personal_computer: {{ $personal_computer }}
{{- if eq .chezmoi.os "linux" }}
  uname:
    machine: '{{ output "uname" "-m" | trim }}'
{{- end }}
  email: {{ $email }}
  name: Sean McGrath
  opsubdomain: {{ $opsubdomain }}
  opemail: {{ $opemail }}

edit:
  command: code
  args: ["--wait"]

onePassword:
{{- if eq .chezmoi.os "linux" }}
  command: /mnt/c/users/{{- $username -}}/AppData/Local/Microsoft/WinGet/Links/op.exe
{{- else }}
  command: op.exe
{{- end }}
