README.md

{{ if .is_server }}
.config/git
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.config
.local
{{ end }}

{{ if ne .chezmoi.os "linux" }}
**/*.sh
**/*.fish

.local/share/bash-completion/**
.bash_history
.bashrc
.profile
.zshenv
.hushlogin
{{ end }}

{{ if ne .chezmoi.os "windows" }}
**/*.bat
**/*.ps1
Documents
AppData

.config/winget

.gitconfig
.npmrc
{{ end }}

{{ if not .is_wsl }}
bin/ssh
bin/ssh-add
bin/explorer
bin/wsl-browser
bin/code
bin/cursor
bin/obsidian
bin/op
.local/share/applications/wsl-browser.desktop
{{ end }}
