README.md

{{ if .is_server }}
.config/git
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.config
.local
{{ end }}

{{ if ne .chezmoi.os "linux" }}
**/*.sh
**/*.fish

.local/share/bash-completion/**
.bash_history
.bashrc
.profile
.zshenv
.hushlogin
{{ end }}

{{ if ne .chezmoi.os "windows" }}
**/*.bat
**/*.ps1
Documents
AppData

.config/winget

.gitconfig
.npmrc
{{ end }}

{{ if not .is_wsl }}
.ssh/config
.ssh/github-personal.pub
.ssh/github-holmesgroup.pub
bin/ssh
bin/ssh-add
bin/container
bin/wslc
bin/explorer
bin/wsl-browser
bin/code
bin/cursor
bin/obsidian
bin/op
.config/fish/conf.d/00-xdg-runtime-dir.fish
.local/share/applications/wsl-browser.desktop
{{ end }}
