# Configure Jump
status --is-interactive; and source (jump shell fish | psub)

set -g theme_display_vagrant no
set -g theme_display_ruby no
set -x VIRTUAL_ENV_DISABLE_PROMPT 1

# Disable welcome message
set fish_greeting

# Theme
fish_config theme choose ayu\ Dark

set -gx VOLTA_HOME "$HOME/.volta"
set -gx PATH "$VOLTA_HOME/bin" $PATH

# Cuda
if test -d /usr/local/cuda/bin
    set -gx PATH /usr/local/cuda/bin $PATH
    set -gx LD_LIBRARY_PATH /usr/local/cuda/lib64 $LD_LIBRARY_PATH
end

# set -gx DOCKER_HOST "unix:///mnt/wsl/podman-sockets/podman-machine-default/podman-root.sock"
# set -gx CONTAINER_HOST "unix:///mnt/wsl/podman-sockets/podman-machine-default/podman-root.sock"

# Brew
set -gx HOMEBREW_NO_ENV_HINTS 1
