{{- if false -}}  # disabled because i switched back to docker desktop
#!/usr/bin/env bash

set -euo pipefail

echo "👊  Configuring Podman for WSL2"
sudo usermod --append --groups 10 $(whoami)
podman system connection add --default podman-machine-default-root unix:///mnt/wsl/podman-sockets/podman-machine-default/podman-root.sock

echo "⚠️ Please restart WSL2 to apply changes."

{{ end -}}
