{{- if .is_desktop -}}
#!/usr/bin/env fish

# Install fisher
{{ if not (stat (joinPath .chezmoi.homeDir ".config/fish/functions/fisher.fish")) }}
  echo "🎣  Installing Fisher"
  curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
{{ end }}


echo "🪝  Installing/updating fisher plugins: {{ .fisher_plugins | join " " }}"
fisher install {{ .fisher_plugins | join " " }}


{{ if .fisher_plugins_remove }}
set fisher_plugins (fisher list)
for plugin in {{ .fisher_plugins_remove | join " " }}
    if contains $plugin $fisher_plugins
        echo "Removing plugin: $plugin"
        fisher remove $plugin
    end
end
{{ end }}


{{ end -}}
