{{- if and (.is_desktop) (not .is_wsl) -}}
#!/usr/bin/env fish

# Check if op is already installed
{{ if and
     (not (stat "/usr/bin/op"))
     (not (stat "/usr/local/bin/op"))
     (not (stat (joinPath .chezmoi.homeDir ".local/bin/op"))) }}
    echo "Installing 1Password CLI"

    # Add the key to the keyring if not already present
    {{ if not (stat "/usr/share/keyrings/1password-archive-keyring.gpg") }}
        echo "Adding 1Password GPG key to keyring"
        curl -sS https://downloads.1password.com/linux/keys/1password.asc | \
            sudo gpg --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg
    {{ else }}
        echo "1Password GPG key already in keyring"
    {{ end }}

    # Add the repository if not already added
    {{ if not (stat "/etc/apt/sources.list.d/1password.list") }}
        echo "Adding 1Password repository"
        echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/$(dpkg --print-architecture) stable main" | \
            sudo tee /etc/apt/sources.list.d/1password.list
    {{ else }}
        echo "1Password repository already added"
    {{ end }}

    # Set up debsig policy if not already set up
    {{ if not (stat "/etc/debsig/policies/AC2D62742012EA22/1password.pol") }}
        echo "Setting up debsig policy"
        sudo mkdir -p /etc/debsig/policies/AC2D62742012EA22/
        curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol | \
            sudo tee /etc/debsig/policies/AC2D62742012EA22/1password.pol
    {{ else }}
        echo "Debsig policy already set up"
    {{ end }}

    # Set up debsig keyring if not already set up
    {{ if not (stat "/usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg") }}
        echo "Setting up debsig keyring"
        sudo mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22
        curl -sS https://downloads.1password.com/linux/keys/1password.asc | \
            sudo gpg --dearmor --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg
    {{ else }}
        echo "Debsig keyring already set up"
    {{ end }}

    # Install the package
    echo "Installing 1Password CLI package"
    sudo apt update && sudo apt install -y 1password-cli
{{ end }}

# Check for 1Password accounts and add if needed
set account_list (op account list 2>/dev/null)

if test -z "$account_list"
    echo "No 1Password accounts found, adding account..."
    op account add --address {{ .opsubdomain }}.1password.com --email {{ .opemail }}
end

{{ end -}}
